h1 {

   color: blue;
   background-color: white;
}

marquee {
    
	color: red;
	background-color: blue;

}


div {


	color: green;
	background-color: pink;

}




h2 {

	color: navy; 
	background-color: white;


}


